# Библиотека Pandas
## Задание 1

In [68]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')

max_top_scores = joined.loc[joined['rating'] == 5.0].groupby('title').count().sort_values('rating', ascending=False).reset_index()[['title', 'rating']]

print(f'Фильм: {max_top_scores.iloc[0]["title"]}\nКоличество оценок 5.0: {max_top_scores.iloc[0]["rating"]}')

Фильм: Shawshank Redemption, The (1994)
Количество оценок 5.0: 153

## Задание 2

In [65]:
data = pd.read_csv('power.csv')

baltic = ['Lithuania', 'Latvia', 'Estonia']
categories = [4, 12, 21]
year1, year2 = 2005, 2010

filtered_data = data.query("country in @baltic and \
                           category in @categories and \
                           @year1 <= year <= @year2")

filtered_data = filtered_data.groupby(['country', 'category']).sum().sort_values('country')

print(filtered_data['quantity'])

country    category
Estonia    4               28.0
           21           63412.0
Latvia     4                0.0
           21           54844.0
Lithuania  4               18.0
           12            6227.0
           21          115952.0
Name: quantity, dtype: float64

## Задание 3

In [66]:
url = 'https://fortrader.org/quotes'
data = pd.read_html(url, encoding='utf-8')
print(data[3].head())

                   Название      Цена  Изменение  Изменение(%)  Обновлено
0             ВТБ Акции ВТБ  0.038425    0.00025      0.654879        NaN
1    Газпром Акции газпрома    237.12    3.32000      1.420000        NaN
2       Лукойл Акции Лукойл   6 468.5  112.50000      1.800000        NaN
3   Роснефть Акции Роснефти    577.00    4.75000      0.830000        NaN
4  Сбербанк Акции Сбербанка    292.50    7.57000      2.660000        NaN